export LANG=en_US.UTF-8

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Set Vim as default editor
export EDITOR=vim

#Let's reduce after you hit the <ESC> key delay to 0.1 seconds.
export KEYTIMEOUT=1

# JAVA_HOME
export JAVA_HOME="/Library/Java/JavaVirtualMachines/jdk1.8.0_191.jdk/Contents/Home"

# Python startup script
export PYTHONSTARTUP=$HOME/.pythonstartup.py
