[alias]
	c = commit -am
	s = status
	amend = commit --amend --all
	co = checkout
	df = diff --color --color-words --abbrev
	log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	diff = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
